<div class="footer w-100 bg-light">
    <div class="row h-100 d-flex flex-row justify-content-evenly align-items-center mx-auto">
        <!-- first -->
        <div class="footerContent col-md-3 col-10 ">
            <h4 class="text-dark" style="font-size: 1.2em;">Quick Links</h4>
            <div class="footerNav w-50  d-flex flex-column text-decoration-none" >
                <a class="text-dark" href="/" style="text-decoration-line: none;font-size: 1.2rem;" >Home</a>
                <a class="text-dark" href="/why_Us" style="text-decoration-line: none;font-size: 1.2rem;">About us</a>
                <a class="text-dark" href="/" style="text-decoration-line: none;font-size: 1.2rem;">Blog</a>
                <a class="text-dark" href="/terms" style="text-decoration-line: none;font-size: 1.2rem;">Term&cond</a>
                <a class="text-dark" href="/Contact" style="text-decoration-line: none;font-size: 1.2rem;">Contact Us</a>
            </div>
        </div>
    <!-- second -->
    <div class="social col-md-3 col-xxl-3 col-10 text-center">
        <h2 class="text-dark fs-2">Get in Touch</h2>
        <i class="fab fa-facebook-square fs-3 "></i>
        <i class="fab fa-twitter-square fs-3 "></i>
        <i class="fab fa-instagram-square fs-3 "></i>
        
    </div>
    <!-- 3rd -->
    <div class="col-md-3 col-10 text-end ">
    <h1 class=" footer-brand fs-3 text-warning">Events King</h1>
    </div>
    <!-- row end -->
    </div>
    <!-- <hr class=" w-100 m-auto bg-dark " style=" opacity: .8;" > -->
    
    <!-- footer end -->
</div>
<div class="Copyrights bg-dark d-flex justify-content-center align-items-center">
    <p class="text-warning fw-800 ">Copyright &copy 2018-2022 Events King. All rights reserved</p>
</div>
        
       