<div class="container-fluid">
  <div class="row bg-dark">
    <div class="col-11 mx-auto">
      <header class="header text-warning d-flex flex-row justify-content-between ">

        <div class="mailInfo d-flex flex-row  justify-content-evenly align-items-center " style="width: 30%;">
          <h3 class="mail fs-6 "><i class="far fa-envelope"></i> Preet92@gmail.com</h3>
          <h3 class="phone fs-6  "><i class="fas fa-mobile-alt"></i> +9185289-77021</h3>
        </div>
      
      
        <div class="headerSocial d-flex flex-row align-items-center justify-content-evenly mx-5" style="width: 10%;">
            <i class="fab fa-facebook-square fs-4"></i>
            <i class="fab fa-twitter-square fs-4 "></i>
            <i class="fab fa-instagram-square fs-4"></i>
        </div>
      
      </header>      
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row bg-light">
    <div class="col-10 mx-auto">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" id="navbarBrand">
          <a class="navbar-brand text-warning  p-0"  href="/">Events King</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav  ms-auto  text-warning" id="navHover">
              <a class="nav-link  text-warning fs-5" href="/">Home</a>
              <a class="nav-link  fs-5" href="/Why_Us">Why Us</a>
              <a class="nav-link  fs-5" href="/Service">Service</a>
              <a class="nav-link  fs-5" href="/Gallery">Gallery</a>
              
              <a class="nav-link  fs-5" href="/Contact">Contact</a>
            </div>
          </div>
        </div>
      </nav>
    
    

    </div>
  </div>

</div>

